*{
    font-family: 'Anuphan', sans-serif;
    font-family: 'Heebo', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.header img {
    width: 25rem;
    height: auto;
    margin-top: -7rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 6rem;
    height: 2rem;
    margin-top: 4rem;
}

.header-menu li{
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    text-decoration: none;
    color: white;
}

.header-menu li:hover{
    color: var(--red);
    cursor: pointer;
}
